<!-- <mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile colspan="1">
    <mat-form-field appearance="legacy">
      <mat-label>Fantasy Name</mat-label>
      <input
        name="fantasyName"
        required
        matInput
        placeholder="Ex. Name da Holding"
        maxlength="Rede de Supermercados"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <mat-form-field appearance="legacy">
      <mat-label>Fantasy Name</mat-label>
      <input
        name="fantasyName"
        required
        matInput
        placeholder="Ex. Name da Holding"
        maxlength="Rede de Supermercados"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="100px" class="grid-button">
  <mat-grid-tile colspan="2">
    <button
      mat-raised-button
      extended
      color="primary"
      matTooltip="Info about the action"
    >
      <mat-icon>check</mat-icon> Save
    </button>
    <button
      mat-raised-button
      extended
      color="accent"
      matTooltip="Info about the action"
    >
      <mat-icon>block</mat-icon> Cancel
    </button>
  </mat-grid-tile>
</mat-grid-list> -->

<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Pro Manage</mat-card-title>
    <mat-card-subtitle
      >Your system to watch closely and reward your employees</mat-card-subtitle
    >
  </mat-card-header>
  <img
    mat-card-image
    src="assets/img/home-image.svg"
    alt="Image Home Sistema Mérito"
  />
  <mat-card-content>
    <p>
      Hello! Welcome to the Pro Manage system.<br />
      Here is where all the control of your company is in the palm of your hand. We
      will help you have a meticulous administration regarding your
      Employees.
      <br /><br />
      Feel free to use the system and leave your suggestion.
    </p>
  </mat-card-content>
</mat-card>
